{
	"created_author": {{ analysis_program.created_author }},
	"created_date": {{ analysis_program.created_date }},
	"description": {{ analysis_program.description }},
	"document_file": {{ analysis_program.document_file }},
	"md5": {{ analysis_program.md5 }},
	"path": {{ analysis_program.path }},
	"program_name": {{ analysis_program.program_name }}
}